In [ ]:
# .Groupby() - 
'''
It allows you to group together rows based off of a column and perform an aggregate function on them.
It is used for grouping the data according to the categories and applying a function to the categories. 
It also helps to aggregate data efficiently.
It is used to split the data into groups based on some criteria.
It  involves some combination of splitting the object, applying a function, and combining the results. 
The groupby is one of the most frequently used Pandas functions in data analysis. 
It is used for grouping the data points (i.e. rows) based on the distinct values in the given column or columns. 
We can then calculate aggregated values for the generated groups.
'''

In [8]:
import numpy as np 
import pandas as pd
data={'Name':['Dheeraj','Chandan','Ramesh','Mohit','Suresh','Prasad'],
      'Marks':[80,78,90,94,58,77],
      'Roll':[1,2,3,4,5,6]
      }
df1=pd.DataFrame(data)
print(df1,'\n')
print(df1.groupby("Name").mean(),'\n')
print(df1.groupby("Name").max(),'\n')
info1=df1.groupby("Marks")
print(info1.prod(),'\n')
print(info1.sum(),'\n')

      Name  Marks  Roll
0  Dheeraj     80     1
1  Chandan     78     2
2   Ramesh     90     3
3    Mohit     94     4
4   Suresh     58     5
5   Prasad     77     6

         Marks  Roll
Name
Chandan   78.0   2.0
Dheeraj   80.0   1.0
Mohit     94.0   4.0
Prasad    77.0   6.0
Ramesh    90.0   3.0
Suresh    58.0   5.0

         Marks  Roll
Name
Chandan     78     2
Dheeraj     80     1
Mohit       94     4
Prasad      77     6
Ramesh      90     3
Suresh      58     5

       Roll
Marks
58        5
77        6
78        2
80        1
90        3
94        4

       Roll
Marks
58        5
77        6
78        2
80        1
90        3
94        4

C:\Users\KIIT\AppData\Local\Temp\ipykernel_7848\4006117709.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.prod is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(info1.prod(),'\n')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_7848\4006117709.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(info1.sum(),'\n')

In [27]:
import pandas as pd
data2={'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df2=pd.DataFrame(data2)
print(df2,'\n')
print(df2.groupby("Company").mean(),'\n')
print(df2.groupby("Company").max(),'\n')
info1=df2.groupby("Company")
print(info1.prod(),'\n')
print(info1.sum(),'\n')
print(info1.std(),'\n')
print(info1.sum().loc['FB'],'\n')
print(df2.groupby("Company").sum().loc['FB'],'\n')
print(df2.groupby("Company").count(),'\n')
print(df2.groupby("Company").max(),'\n')
print(df2.groupby("Company").min(),'\n')
# .describe() - It returns description of the data in the DataFrame.
#  It is used for calculating some statistical data like percentile, mean and std of the numerical values of the Series or DataFrame. 
#  It analyzes both numeric and object series and also the DataFrame column sets of mixed data types.
print(df2.groupby("Company").describe(),'\n')
print(df2.groupby("Company").describe().T,'\n')
print(df2.groupby("Company").describe().transpose(),'\n')
print(df2.groupby("Company").describe().transpose()['FB'],'\n')

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

         Sales
Company
FB       85050
GOOG     24000
MSFT     42160

         Sales
Company
FB         593
GOOG       320
MSFT       464

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

Sales    593
Name: FB, dtype: int64

Sales    593
Name: FB, dtype: int64

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

C:\Users\KIIT\AppData\Local\Temp\ipykernel_7848\3699356632.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df2.groupby("Company").mean(),'\n')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_7848\3699356632.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.prod is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(info1.prod(),'\n')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_7848\3699356632.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(info1.sum(),'\n')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_7848\3699356632.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(info1.std(),'\n')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_7848\3699356632.py:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(info1.sum().loc['FB'],'\n')
C:\Users\KIIT\AppData\Local\Temp\ipykernel_7848\3699356632.py:14: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(df2.groupby("Company").sum().loc['FB'],'\n')

Sales  count      2.000000
       mean     296.500000
       std       75.660426
       min      243.000000
       25%      269.750000
       50%      296.500000
       75%      323.250000
       max      350.000000
Name: FB, dtype: float64

In [26]:
print(df2.groupby("Company").describe().T,'\n')

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000